*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

ul{
    display: flex;
    list-style: none;
    margin: 20px ;
    gap:100px;
    
}

li{
 padding: 10px;
 
}

a{
    color:black;
    margin: 0px 7px 0px 7px;
}


header{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
}

.boton1{
    border-radius: 2rem;
    padding: 10px;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}



/*Cuerpo de la pagina con secciones*/


.display{
    display: grid;
    grid-auto-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 10px;
}

.titulo{
    display: flex;
    /* inicio fila, inicio columna , final fila, final columna*/
    grid-area: 1/1/1/3;
    height: 10rem;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/ImagenBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;


}


.productos{
    /* inicio fila, inicio columna , final fila, final columna*/
    grid-area: 2/1/2/3;
    background-color: #e2f1ff;
    height: 3rem; /* Asegura espacio suficiente */
    display: flex; /* Para alinear contenido */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    
}

.filtrar{
    background-color: blue;
    /* inicio fila, inicio columna , final fila, final columna*/
    grid-area: 3/1/3/2;
   
}

.menu{
    background-color: #edf4fa;
    grid-area:3/2/3/3 ;
   
    
}



/*Estilo de iconos */



.icono1{
    width: 35px;
    height: 35px;
}


.icono2{
    width: 35px;
    height: 35px;
}

.icono3{
    width: 35px;
    height: 35px;
}



/*estilo a los contenedores porductos guardados en la base de datos*/



.producto{
    background-color: cornsilk;
    width: 200px;
    height: 250px;
    border-radius: .5rem;
    border: 1px solid black;
}

